</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="footer-links">
                    <ul class="footer-group">
                        <!-- <li><a href="#">Features</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="http://tympanus.net/codrops/licensing/">Licence</a></li>
                        <li><a href="http://tympanus.net/codrops/">Codrops</a></li>
                        <li><a href="http://www.peterfinlan.com/">Peter Finlan</a></li> -->
                    </ul>
                    <!-- <p>Copyright © 2015 <a href="#">Sedna</a><br> -->
                   <!--  <a href="http://tympanus.net/codrops/licensing/">Licence</a> | Crafted with <span class="fa fa-heart pulse2"></span> by <a href="http://www.peterfinlan.com/">Peter Finlan</a>.</p> -->
                </div>
            </div>
            <div class="col-md-5 ">
                <!-- <p>Share Sedna with your friends</p>
                <a href="https://twitter.com/peterfinlan" class="twitter-share"><i class="fa fa-twitter"></i></a> <a href="#" class="facebook-share"><i class="fa fa-facebook"></i></a> -->
            </div>
        </div>        
    </div>
</footer>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="{{ paths.theme }}bower_components/retina.js/dist/retina.js"></script>
    <script src="{{ paths.theme }}js/jquery.fancybox.pack.js"></script>
    <script src="{{ paths.theme }}js/vendor/bootstrap.min.js"></script>
    <script src="{{ paths.theme }}js/scripts.js"></script>
    <script src="{{ paths.theme }}js/jquery.flexslider-min.js"></script>
    <script src="{{ paths.theme }}bower_components/classie/classie.js"></script>
    <script src="{{ paths.theme }}bower_components/jquery-waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="{{ paths.theme }}js/slippry.js"></script>
    <script src="{{ paths.theme }}js/wow.js"></script>
    
    <script>
      new WOW().init();
      </script>
    <script>

        $(function() {
            var demo1 = $("#demo1").slippry({
                // transition: 'fade',
                // useCSS: true,
                 speed: 1400,
                 pause: 5000,
                auto: true,
                preload: 'visible',
                 autoHover: false
            });

            $('.stop').click(function () {
                demo1.stopAuto();
            });

            $('.start').click(function () {
                demo1.startAuto();
            });

            $('.prev').click(function () {
                demo1.goToPrevSlide();
                return false;
            });
            $('.next').click(function () {
                demo1.goToNextSlide();
                return false;
            });
            $('.reset').click(function () {
                demo1.destroySlider();
                return false;
            });
            $('.reload').click(function () {
                demo1.reloadSlider();
                return false;
            });
            $('.init').click(function () {
                demo1 = $("#demo1").slippry();
                return false;
            });
        });
    </script>
</body>
</html>