{% include '_header.twig' %}

{% setcontent sliders = "sliders" %}

<section>
    <ul id="demo1" class="header-section">
        {% for slide in sliders|order('id') %}
        <li><img src="{{ image(slide.image) }}"  alt='<h3 class="center-align lato-font white">{{slide.caption}}</h3>'</li>
        {% endfor %}
        <!-- <li><img src="{{ paths.theme }}img/nokia1.jpg" alt='<h4 class="center-align">It&apos;s all about connecting you with everyone you know.</h4><div class="center-align"><a href="" class="btn-large btn-fill2">Find out more</a><div>'></li>   

        <li><img src="{{ paths.theme }}img/iphone12.jpg" alt='<h4 class="center-align">We can supply all your mobile needs.</h4><div class="center-align"><a href="" class="btn-large btn-fill2">Contact us now</a><div>'></li> -->
    </ul>
</section>
<section>              
    <div class="row">
        <div class="container">
            
            <div class="col-lg-6 med-img center-align">
                <h3 class="lato-font">Welcome to</h3>
                <h2 class="lato-font">3 Kings Enterprises</h2>
                <h3 class="lato-font">Bringing the <strong class="highlight">best</strong>  at <strong class="highlight">affordable</strong> prices</h3>
            </div>
            <div class="col-lg-6 med-img">
                 <img src="{{ paths.theme }}img/logo-med.jpg" class="img-responsive" alt="">
            </div>
        </div>       
    </div>      
    <div class="row  company-intro-block ">
        <div class="col-lg-6 padded minus-bottom wow bounceInLeft">
            {{page.body}}
            <p class="center-align"><a class="btn-large btn-fill">Visit Our Store</a></p>
        </div>
        <div class="col-lg-6 company-intro-block padded wow bounceInRight"><img src="{{ image(page.image1) }}" class="img-responsive img-rounded"></div>
    </div>                    
</section>
{% include '_footer.twig' %}